@page
@model Teste.Seguro.Web.Pages.CotacaoModel
@{
    ViewData["Title"] = "Cotação";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
    .Titulo {
        padding: 0px 0px 0px 0px;
    }

    .carregando {
        margin: 30px 30px 30px 30px;
    }
</style>

<div class="container mt-5">
    <div class="col-md-2">
        <h2 class="Titulo">Cotação</h2>
    </div>
    <hr class="shadow-sm" />
    <form id="cotacaoForm" class="row g-3 needs-validation">
        <div>
            <!-- Segurado -->
            <div id="segurado" class="row">
                <div class="col-md-4">
                    <label for="txtNomeSegurado" class="form-label">nome segurado</label>
                    <input type="text" class="form-control" id="txtNomeSegurado" name="txtNomeSegurado" placeholder="digite o nome do segurado" minlength="5" maxlength="50" required>
                </div>
                <div class="col-md-2">
                    <label for="txtCPFSegurado" class="form-label">cpf (apenas números)</label>
                    <input type="text" class="form-control cpf" id="txtCPFSegurado" name="txtCPFSegurado" placeholder="99999999999" minlength="11" maxlength="11" required>
                </div>
            </div>

            <!-- Veiculo -->
            <div id="veiculo" class="row">
                <div id="marca" class="col-md-4">
                    <label for="txtMarca" class="form-label">marca</label>
                    <input type="text" class="form-control" id="txtMarca" name="txtMarca" placeholder="ex: Volkswagen" required>
                    <div class="invalid-feedback">
                        Looks good!
                    </div>
                </div>
                <div id="modelo" class="col-md-2">
                    <label for="txtModelo" class="form-label">modelo</label>
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" id="txtModelo" name="txtModelo" aria-describedby="inputGroupPrepend" placeholder="ex: Golf GTI" required>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <div id="valor" class="col-md-2">
                    <label for="txtValorVeiculo" class="form-label">valor</label>
                    <input type="text" class="form-control" id="txtValorVeiculo" name="txtValorVeiculo" placeholder="ex: 120000.00" required>
                    <div class="invalid-feedback">
                        Digite um valor válido.
                    </div>
                </div>
            </div>

            <!-- Seguradora -->
            <div id="seguradora" class="row">
                <div id="seguradora" class="col-md-4">
                    <label for="selSeguradora" class="form-label">seguradora</label>
                    <select id="selSeguradora" name="seguradora" class="form-select" aria-label="Default select example" required>
                        <option selected>selecione uma seguradora...</option>
                    </select>
                </div>
                <div id="marca" class="col-md-2">
                    <label for="txtMargemSeguranca" class="form-label">margem segurança</label>
                    <input type="text" class="form-control" id="txtMargemSeguranca" placeholder="0.0%" readonly>
                </div>
                <div id="marca" class="col-md-2">
                    <label for="txtLucro" class="form-label">lucro</label>
                    <input type="text" class="form-control" id="txtLucro" placeholder="0.0%" readonly>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <!-- Valor Cotação -->
            <div id="valorCotacao" class="row">
                <div class="col-md-3">
                    <label for="txtResultado" class="form-label fw-bold">valor de seguro</label>
                    <input type="text" class="form-control" id="txtResultado" name="txtResultado" placeholder="R$ 00,00" readonly>
                </div>
            </div>

            <hr class="shadow-sm" />

            <div id="divBtnCotacao" class="col-12">
                <button class="btn btn-primary" id="btnSubmit" type="submit">cotar</button>
            </div>

            <div id="divContrato" class="col-12 d-none">
                <div class="col-5">
                    <button class="btn btn-success" id="btnOk">contratar</button> &nbsp;
                    <button class="btn btn-danger" id="btnCancelar" data-bs-toggle="modal" data-bs-target="#exampleModal">desistir</button>
                </div>
            </div>
        </div>
    </form>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alerta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    seu texto aqui
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnCancelarModal" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnOkModal" data-bs-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Error -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  col-md-auto">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Alerta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="errorData" class="modal-body col-md-auto">
                    seu texto aqui
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Loading -->
    <div class="modal" tabindex="-1" role="dialog" id="loadingModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered  col-12" role="document">
            <div class="modal-content align-content-center">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Carregando...</h5>
                </div>
                <div class="modal-body align-self-md-center carregando">
                    <div class="spinner-border align-content-center" style="width: 4rem; height: 4rem;" role="status">
                        @* <span class="sr-only">Aguarde...</span> *@
                    </div>
                    @* <p>Aguarde, carregando...</p> *@
                </div>
            </div>
        </div>
    </div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/j/s/jquery.maskmoney.js"></script>
<script type="text/javascript">
    const dataSeguradoras = [];

    $(document).ready(function () {
        CarregaDadosTela();
        FormatacaoDados();
    });

    let valorSeguro = 0;
    $('#cotacaoForm').submit(function (e) {
        var valor = valorVeiculo;
        let url = 'https://localhost:7111/api/Seguro/orcamento?valorVeiculo=' + valor + '&margem_seguranca=' + MARGEM + '&lucro=' + LUCRO + '';

        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: url,
            "headers": {
                'Content-Type': 'application/json'
            },
            beforeSend: (jqXHR, settings) => {
                $('#loadingModal').show();
            },
            success: function (data) {
                sucessForm(data);
            },
            error: function (error) {
                errorModal(error.responseText);
            }
        });
    });

    // eventos
    let MARGEM = 0;
    let LUCRO = 0;
    let SEGURADORA_ID = "";
    let SEGURADORA_NOME = "";
    $('#selSeguradora').change(function () {
        var valorSelecionado = $(this).val();
        var textoSelecionado = $(this).find('option:selected').text();

        var itemEncontrado = findById(dataSeguradoras, valorSelecionado);

        $('#txtMargemSeguranca').val((itemEncontrado.margemSeguranca * 100) + "%");
        $('#txtLucro').val((itemEncontrado.lucro * 100) + "%");

        SEGURADORA_ID = valorSelecionado;
        SEGURADORA_NOME = textoSelecionado;
        MARGEM = itemEncontrado.margemSeguranca;
        LUCRO = itemEncontrado.lucro;
    });

    let valorVeiculo = 0;
    $('#txtValorVeiculo').change('input', function () {
        var valorNumerico = parseFloat($(this).val());
        if (!isNaN(valorNumerico)) {
            valorVeiculo = valorNumerico;
            var valorFormatado = valorNumerico.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
            $('#txtValorVeiculo').val(valorFormatado);
        } else {
            $('#txtValorVeiculo').val('');
        }
    });

    $('#btnCancelar').click(function () {
        $(".modal-body").html("<h4>Tem certeza que deseja cancelar?</h4></br><p>O formulário será limpo!</p>");
        $("#btnCancelarModal").text("sim");
        $("#btnOkModal").text("não");
    });

    $('#btnOk').click(function () {
        let url = 'https://localhost:7111/api/Seguro/orcamento?valorVeiculo=' + valor + '&margem_seguranca=' + MARGEM + '&lucro=' + LUCRO + '';

        let idSeguro = generateGUID();
        let idSegurado = generateGUID();
        let idVeiculo = generateGUID();

        let dados = {
            "id": generateGUID(),
            "seguradoraId": SEGURADORA_ID,
            "veiculoId": idVeiculo,
            "seguradoId": idSegurado,
            "seguradora": {
                "id": SEGURADORA_ID,
                "nome": SEGURADORA_NOME,
                "margemSeguranca": MARGEM,
                "lucro": LUCRO
            },
            "veiculo": {
                "id": idVeiculo,
                "marca": $('#txtMarca').val(),
                "modelo": $('#txtModelo').val(),
                "valor": $('#txtValorVeiculo').val()
            },
            "segurado": {
                "id": idSegurado,
                "nome": $('#txtNomeSegurado').val(),
                "cpf": $('#txtCPFSegurado').val()
            },
            "valorFinal": $('#txtResultado').val()
        };

        console.log('dados: ', dados);

        var settings = {
            "async": true,
            "url": "https://localhost:7087/api/Seguradora/busca-todos",
            "type": "POST",
            "contentType": "application/json",
            "data": JSON.stringify(dados),
            "headers": {
                "Content-Type": "application/json"
            }
        };

        chamarAjax(settings);
    });

    $('#btnCancelarModal').click(function () {
        limpaCampos('#cotacaoForm');

        $('#btnSubmit').show();
        $('#divContrato').addClass('d-none');
        $('#divBtnCotacao').removeClass('d-none');
    });

    $('#btnOkModal').click(function () {

    });






    // functions
    function findById(array, id) {
        for (var i = 0; i < array.length; i++) {
            if (array[i].id === id) {
                return array[i];
            }
        }
        return null;
    };

    function formataMoeda(valor) {
        return parseFloat(valor).toLocaleString("pt-BR", { style: "currency", currency: "BRL" });
    };

    function FormatacaoDados() {
        $('.date').mask('00/00/0000');
        $('.time').mask('00:00:00');
        $('.cep').mask('00000-000');
        $('.phone').mask('(00) 00000-0000');
        $('.cpf').mask('000.000.000-00');
        $('.money').mask('000.000.000.000,00');
    };

    function CarregaDadosTela() {
        $.ajax({
            url: 'https://localhost:7087/api/Seguradora/busca-todos',
            async: true,
            method: 'GET',
            dataType: 'json',
            beforeSend: (jqXHR, settings) => {
                $("#loadingModal").modal("show");
            },
            success: function (data) {
                var seguradoras = data.result;

                seguradoras.forEach((item) => {
                    dataSeguradoras.push(item);

                    $('#selSeguradora').append($('<option>', {
                        value: item.id,
                        text: item.nome
                    }));
                });

                setTimeout(function () {
                    $("#loadingModal").modal("hide");
                }, 3000);
            },
            error: function (error) {
                errorModal(error.responseText);
            }
        });
    };

    function mostrarAlerta(texto) {
        return confirm(texto);
    };

    function limpaCampos(formulario) {
        $(formulario)[0].reset();
    };

    function validarCampos() {
        $("#cotacaoForm").validate({
            rules: {
                name: "required",
                txtNomeSegurado: "required",
                txtCPFSegurado: "required",
                txtMarca: "required",
                txtModelo: "required",
                txtValorVeiculo: "required"
            },
            messages: {
                txtNomeSegurado: "Por favor, insira o nome do segurado",
                txtCPFSegurado: {
                    required: "Por favor, insira o CPF do segurado",
                    minlength: "A senha deve ter pelo menos 11 caracteres",
                    maxlength: "A senha deve ter no maximo 11 caracteres"
                },
                txtMarca: "Por favor, insira a marca do veiculo",
                txtModelo: "Por favor, insira o modelo do veiculo",
                txtValorVeiculo: "Por favor, insira o valor do veiculo"
            }
        });
    }

    function contratar() {
        $.ajax({
            type: 'POST',
            url: url,
            "headers": {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*'
            },
            // data: $(this).serialize(), // Serializa os dados do formulário
            beforeSend: (jqXHR, settings) => {
                $('#modalLoading').show();
            },
            success: function (data) {
                $('#modalLoading').hide();

                $('#btnSubmit').hide();
                $('#divContrato').removeClass('d-none');
                $('#divBtnCotacao').addClass('d-none');
            },
            error: function (error) {
                console.log(error);
                alert('error: ', error);
                $('#modalLoading').hide();
            }
        });
    };

    function errorModal(error) {
        console.log(error);
        $("#loadingModal").hide();
        $("#errorData").html('<p>' + error + '</p>');
        $("#errorModalLabel").html("Erro");
        $("#errorModal").modal("show");
    };

    function sucessForm(data) {
        setTimeout(function () {
            $("#loadingModal").hide();
        }, 2000);

        var valorNumerico = parseFloat(data);
        if (!isNaN(valorNumerico)) {
            valorSeguro = valorNumerico;
            var valorFormatado = valorNumerico.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
            $('#txtResultado').val(valorFormatado);
        } else {
            $('#txtResultado').val('');
        }

        $('#btnSubmit').hide();
        $('#divContrato').removeClass('d-none');
        $('#divBtnCotacao').addClass('d-none');
    };

    function chamarAjax(settings) {
        $.ajax({
            settings,
            beforeSend: (jqXHR, settings) => {
                $('#loadingModal').show();
            },
            success: function (data) {
                return data;
            },
            error: function (error) {
                errorModal(error.responseText);
            }
        });
    };

    function generateGUID() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0,
                v = c === 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }

</script>